{{ am_nhac }}

<ol>
   {{#each am_nhac }}
   <li>{{ this }}</li>
   {{/each}}
</ol>

<ul>
   {{#each bands }}
   <li>{{ this }}</li>
   {{/each}}
</ul>

<table border="1">
   <tr>
      <th>Song name</th>
   </tr>
   {{#each songs }}
         <tr>
            <td>{{ this }}</td>
         </tr>
   {{/each}}
</table>